*{
    box-sizing: border-box;
}

body{
    background-color: #1DA1F2;
}

.container{
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    /* margin: auto; */
    border-radius: 0.5rem;
    /* display: flex; */
    align-items: center;
    margin-top: 20rem;
    padding-bottom: 2rem;
    padding-top: 0.2rem;
}

h1{
    margin-left: 0.8rem;
}

#logo{
    height: 30px;
    width: 40px;
    margin-top: 0.5rem;

}

.primaRiga{
    padding-top: 1rem;
    display: flex;
   
}

.form{
   margin: 1.5rem;
    padding-top: 2rem;
}

#bntRegistrati{
    background-color: #1DA1F2; 
    color: white;
}

.classeErrori{
    color: red;
}
 
.textArea{ 
    width: 36rem;
}

.postClass{
    border: #1DA1F2;
    border-radius: 2rem;
    border-color: #1DA1F2;
}

#bntTweet{
    background-color: #1DA1F2;
    color: white;
    margin-bottom: 1rem;
}

.mb-4{
    text-align: center;
}

#logoUtente{
    display: flex;
    height: auto;
    width: 60px;
    border-radius: 45%;
   

}

.UtenteCompleto{
    display: flex;
 
    margin-left: 20rem;
    justify-content: space-between;
    
    
     
}

.UtenteCompleto p{
    margin-top: 1rem;
    margin-right: 1rem;
    
}

.UtenteCompleto img{
    margin-right: 0.5rem;
}

.UtenteCompleto button{
    height: 3rem;
    margin-top: 0.3rem;
}



#post.d-none{
    display: none;
}

.classeP{
    background-color: #c0c3c848;
    border-radius: 0.5rem;
    border: 1px solid #1da0f2f7;
    padding-left: 0.5rem;
}

